@model LibraryManagementSystem.ViewModels.Books.BooksDetailsVM

@{
    ViewBag.Title = "Details - " + Model.Title;
}

<h3>@Model.Title</h3><hr />
<h4>Publisher: @Model.Publisher.Name</h4><hr />
<h4>Stock count: @Model.StockCount</h4><hr />
<h4>Delivery price: @Model.DeliveryPrice.ToString("F2")</h4><hr />
<h4>Date received: @Model.DateReceived.ToShortDateString()</h4><hr />
<h4>Date published: @Model.DatePublished.ToShortDateString()</h4><hr />
<a href="/Books/EditBook/@Model.ID"><input type="button" value="Edit book" class="btn btn-primary" /></a><hr />
<a href="/Books/AddBookAuthor/@Model.ID/0"><input type="button" value="Add book author" class="btn btn-success" /></a><hr />

@using (@Html.BeginForm("Details", "Books", FormMethod.Get))
{
    if (Model.Authors.Count() <= 0)
    {
        <div class="alert alert-info">No authors</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr class="header">
                    <th>Author(s)</th>                    
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Authors)
                {
                    <tr>
                        <td>@item</td>                       
                        <td><a href="/Authors/EditAuthor/@item.ID">Edit</a></td>                        
                    </tr>
                }
            </tbody>
        </table>
    }
    
    Html.RenderPartial("~/Views/Shared/_GenericPager.cshtml", Model.AuthorsPager);
}